.input {
	empty-cells: show;
	background: #CCC; /* Fixes border on empty cells in IE <= 7 */
	border-left: 1px solid #CCC;
	border-radius: 5px;
}

.input td:first-child {
	width: 1px;

}

.input td:first-child, .input td:first-child > * {
	border-radius: 5px 0 0 5px;
}

.input td:last-child, .input td:last-child > * {
	border-radius: 0 5px 5px 0;
}

.input td:only-child, .input td:only-child > * {
	border-radius: 5px;
}

.lte8 {
	border-collapse: collapse;
}

.input td {
	width: 25px;
	min-width: 25px;
	height: 25px;
	line-height: 25px;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #EEE;
	border: 1px solid #CCC;
	border-left: 0;
	white-space: nowrap;
	z-index: 1;
}

.input td label {
	display: block;
	white-space: nowrap;
	padding: 0 5px;
}

.input td label.hasicon {
	padding-left: 0;
}

.input td.field {
	padding: 0;
	padding-right: 10px;
	vertical-align: middle;
	background-color: #FFF;
	width: auto;
}

.input td.field input {
	display: block;
	border: 0;
	height: 17px;
	line-height: 16px;
	font-size: 15px;
	vertical-align: middle;
	padding: 4px 5px;
	margin: 0;
	background: transparent;
	outline: 0;
	width: 100%;
	-webkit-transition: box-shadow 0.25s ease-in-out;
	-moz-transition: box-shadow 0.25s ease-in-out;
	transition: box-shadow 0.25s ease-in-out;
}

.lte8 .input td.field input {
	margin: -1px 0;
	border-right: 1px solid #CCC;
}

.lte6 .input td.field {
	padding: 0px;
}

.lte6 .input td.field input {
	padding: 0 5px;
	border-right: 0;
	height: 25px;
	line-height: 25px;
}

.input td.field input:focus {
	-webkit-box-shadow: inset 5px 5px 10px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 5px 5px 10px -8px rgba(0, 0, 0, 0.75);
	box-shadow: inset 5px 5px 10px -8px rgba(0, 0, 0, 0.75);
}

.input td.button {
	padding: 0;
	text-align: center;
}

.input .button input, .input .button button {
	display: block;
	border: 0;
	background: transparent;
	padding: 0 10px;
	height: 25px;
	cursor: pointer;
	outline: 0;
	-webkit-transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-moz-transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.input .button input:hover, .input .button button:hover, .numberinput button:hover {
	background-color: #FAFAFA;
}

.input .button input:active, .input .button button:active, .numberinput button:active {
	-webkit-box-shadow: inset 5px 5px 10px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 5px 5px 10px -8px rgba(0, 0, 0, 0.75);
	box-shadow: inset 5px 5px 10px -8px rgba(0, 0, 0, 0.75);
}

.input .button input:focus, .input .button button:focus {
	text-decoration: underline;
	/* TODO konqueror4 does not do the text-decoration */
}

.icon {
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	background-clip: padding-box;
	border-radius: 0px !important;
	display: -moz-inline-stack;
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	vertical-align: bottom;
}

.input td .icon {
	vertical-align: top;
	padding: 0;
}

.lte8 .input td .icon {
	vertical-align: middle;
}

.input td.expand { /* .expand is for making buttons big etc */
	width: auto;
}

.input td.expand input, .input td.expand button {
	width: 100%;
}

.nowrap {
	white-space: nowrap;
}

/*********************
 * For number inputs *
 *********************/

.numberinput {
	position: relative;
	padding-right: 26px;
	margin-right: -10px;
	background: #CCC;
	overflow: hidden;
}

.numberinput input {
	background: #FFF !important;
}

.numberinput button { /* see above for :hover and :active */
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	outline: 0;
	border: 0;
	margin: 0;
	padding: 0;
	height: 12px;
	width: 15px;
	line-height: 11px;
	font-size: 11px;
	text-align: center;
	background-color: #EEE;
	-webkit-transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-moz-transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.numberinput button.up {
	background-image: url('numberinputs/up.png');
}

.numberinput button.dn {
	background-image: url('numberinputs/dn.png');
	top: 13px;
}

.input td:first-child .numberinput input {
	border-radius: 5px 0 0 5px; /* Needed for opera 12 */
}

.input td:last-child .numberinput button.up {
	border-radius: 0 5px 0 0; /* Needed for opera 12 */
}

.input td:last-child .numberinput button.dn {
	border-radius: 0 0 5px 0; /* Needed for opera 12 */
}

.lte7 .numberinput {
	display: inline-block;
	padding-right: 16px;
	margin-right: 0;
}

.lte7 .numberinput button {
	position: relative; /* absolute pos broken in IE<=6 */
	float: right;
	right: -26px;
	margin-top: -25px;
}

.lte7 .numberinput button.dn {
	margin-left: -15px;
}

.lte6 .numberinput button {
	right: -16px;
}

/*************
 * Textareas *
 *************/

div.textarea {
	margin-right: 15px;
}

.lte6 div.textarea {
	margin: 0;
}

div.textarea.expand {
	width: auto;
}

div.textarea textarea {
	background-color: white;
	border: 1px solid #CCC;
	padding: 5px 5px;
	border-left: 4px solid limegreen;
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
	/* Make it fancy */
	-webkit-transition: -webkit-box-shadow .25s ease-in-out;
	-moz-transition: -moz-box-shadow .25s ease-in-out;
	transition: box-shadow .25s ease-in-out;
}

div.textarea textarea:focus {
	-webkit-box-shadow: inset 5px 5px 10px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 5px 5px 10px -8px rgba(0, 0, 0, 0.75);
	box-shadow: inset 5px 5px 10px -8px rgba(0, 0, 0, 0.75);
	outline: 0;
}

div.textarea.expand textarea {
	width: 100%;
	resize: vertical;
	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
}

.ie6 div.textarea.expand {
	margin: 0;
	width: 100%;
}

.ie6 div.textarea.expand textarea {
	position: relative;
	display: inline-block;
	width: expression(this.parentNode.clientWidth - 15);
}
